---
layout: page
---
<section class="subtitles">
  
<div style='margin-bottom: 0.750rem;'>
    <a href='https://trakt.tv/users/iam_rasel'>TRAKT PROFILE</a></br>
	<a href='https://subscene.com/u/1312531'>SUBSCENE PROFILE</a>
</div>

{% include subtitles/kalashnikov_ak47.html %}

{% include subtitles/jirga.html %}

{% include subtitles/land_and_shade.html %}

{% include subtitles/angel_densetsu.html %}

{% include subtitles/the_nile_hilton_incident.html %}

{% include subtitles/jim_button_and_luke.html %}

{% include subtitles/lupin_second_season.html %}

{% include subtitles/rise_of_empires_ottoman.html %}

<div style='margin-top: 0.750rem;'>
	<a href='https://iamrasel.github.io/2022/05/27/subtitle-translation-setup.html'>~ Subtitle translation setup :)</a>
</div>

</section>
