<div id='git-exclusives'>
<ul>
  <li><strong>Git Exclusives</strong></li>
</ul>

<table id='bookmarks-table'>
<colgroup>
  <col id='sixty' />
  <col id='forty' />
</colgroup>
<thead>
<tr>
  <th>Description</th>
  <th>Link</th>
</tr>
</thead>
<tbody>

<tr>
  <td>Allows you to find the most active forks of a repository.</td>
  <td><a href='https://techgaun.github.io/active-forks/index.html'>Active Forks</a> – <a href='https://github.com/techgaun/active-forks/'>Source</a></td>
</tr>
<tr>
  <td>A collection of tools to easily generate assets for your Android app.</td>
  <td><a href='http://romannurik.github.io/AndroidAssetStudio/'>Android Asset Studio</a> – <a href='https://github.com/romannurik/AndroidAssetStudio'>Source</a></td>
</tr>
<tr>
  <td>An archive of fonts from across the galaxy.</td>
  <td><a href='https://aurekfonts.github.io/'>Aurek Fonts</a> – <a href='https://github.com/AurekFonts/AurekFonts.github.io'>Source</a></td>
</tr>
<tr>
  <td>Awesome lists about all kinds of interesting topics.</td>
  <td><a href='https://github.com/sindresorhus/awesome'>Awesome Lists</a></td>
</tr>
<tr>
  <td>Generates rectangular or circular CSS animated gradient borders with transparency & store parameters in URL.</td>
  <td><a href='https://theowoo.github.io/agbg/'>CSS Borders</a> – <a href='https://github.com/theowoo/agbg/'>Source</a></td>
</tr>

</tbody>
</table>

</div>
