<!DOCTYPE html>
<html>
<head>

	<meta http-equiv='cache-control' content='no-cache'> 
	<meta http-equiv='expires' content='0'> 
	<meta http-equiv='pragma' content='no-cache'>

  {% include head.html %}

  <link rel="stylesheet" href="{{ 'assets/css/page.css' | relative_url }}" media="all">

  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="iamrasel" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>

</head>
<body>

  <div class="page-content clear-header--top clear-navbar--top clear-footer--bottom">

    {% include header.html %}

    {% include navigation.html %}

    <main class="main clear-header--left">

    {{ content }}

    </main>

    {% include footer.html %}

  </div>

<script src="assets/js/external-links-blank.js"></script>
</body>
</html>
