<details markdown='1'><summary>Angel Densetsu (1996)</summary>
<details markdown='1' id='step-aside'><summary>Subtitle</summary>
<ul>
  <li><a href='https://subscene.com/subtitles/angel-legend/bengali/2582441'>Download</a></li>
</ul>
</details>
<details markdown='1' id='step-aside'><summary>Links</summary>
<ul>
	<li><a href='https://9anime.id/watch/angel-of-legend.0177'>9anime</a> (Use any media grabber)</li>
  <li><a href='https://t.me/Angel_Densetsu'>Telegram</a></li>
</ul>
</details>
</details>
