<details markdown='1'><summary>Jirga (2018)</summary>
<details markdown='1' id='step-aside'><summary>Subtitle</summary>
<ul>
  <li><a href='https://subscene.com/subtitles/jirga/bengali/2690179'>Download</a></li>
</ul>
</details>
<details markdown='1' id='step-aside'><summary>Links</summary>
<ul>
  <li><a href='https://drive.google.com/file/d/1MKAOvp_oAKOD5RPvKxNo7XzIxjRS4x_H/view?usp=sharing'>GDrive Direct</a></li>
  <li><a href='https://mkvking.net/jirga-2018/'>Mkvking</a></li>
  <li><a href='https://teambsmbd.com/movies/jirga-2018/'>Teambsmbd</a></li>
</ul>
</details>
</details>
