<details markdown='1'><summary>Land and Shade (2015)</summary>
<details markdown='1' id='step-aside'><summary>Subtitle</summary>
<ul>
  <li><a href='https://subscene.com/subtitles/land-and-shade/bengali/2682186'>Download</a></li>
</ul>
</details>
<details markdown='1' id='step-aside'><summary>Links</summary>
<ul>
  <li><a href='https://mkvking.net/land-and-shade-2015/'>Mkvking</a></li>
  <li><a href='https://teambsmbd.com/movies/land-and-shade-2015/'>Teambsmbd</a></li>
</ul>
</details>
</details>
