<details markdown='1'><summary>Lupin - Second Season (2021)</summary>
<details markdown='1' id='step-aside'><summary>Subtitle</summary>
<ul>
  <li><a href='https://subscene.com/subtitles/lupin-second-season/bengali/2511943'>Episode 1</a></li>
  <li><a href='https://subscene.com/subtitles/lupin-second-season/bengali/2514610'>Episode 2</a></li>
</ul>
</details>
<details markdown='1' id='step-aside'><summary>Links</summary>
<ul>
  <li><a href='https://mlwbd.top/movie/lupin-season-1-dual-audio/'>Mlwbd - English/Hindi</a></li>
  <li><a href='https://mlwbd.top/movie/lupin-season-1/'>Mlwbd - French</a></li>
  <li><a href='https://moviesnation.pro/download-lupin-season-2-hindi-dubbed-english-480p-720p/'>Moviesnation</a></li>
  <li><a href='https://pahe.li/lupin-season-2-complete-nf-web-dl-720p/'>Pahe</a></li>
  <li><a href='https://teambsmbd.com/tvshows/lupin/'>Teambsmbd</a></li>
</ul>
</details>
</details>
