<details markdown='1'><summary>Rise of Empires: Ottoman (2020)</summary>
<details markdown='1' id='step-aside'><summary>Subtitle</summary>
<ul>
  <li><a href='https://subscene.com/subtitles/rise-of-empires-ottoman-first-season/bengali/2219521'>Episode 2</a></li>
  <li><a href='https://subscene.com/subtitles/rise-of-empires-ottoman-first-season/bengali/2238041'>Episode 3</a></li>
  <li><a href='https://subscene.com/subtitles/rise-of-empires-ottoman-first-season/bengali/2248513'>Episode 4</a></li>
  <li><a href='https://subscene.com/subtitles/rise-of-empires-ottoman-first-season/bengali/2313254'>Episode 5</a></li>
  <li><a href='https://subscene.com/subtitles/rise-of-empires-ottoman-first-season/bengali/2359888'>Episode 6</a></li>
</ul>
</details>
<details markdown='1' id='step-aside'><summary>Links</summary>
<ul>
  <li><a href='https://mlwbd.top/movie/rise-of-empires-ottoman-season-1-complete-nf-web-dl-480p-720p-gdrive/'>Mlwbd</a></li>
  <li><a href='https://pahe.li/rise-of-empires-ottoman-season-1-complete-nf-web-dl-480p-720p/'>Pahe</a></li>
</ul>
</details>
</details>
